body {
  background: whitesmoke;
  padding: 2em;
  border-bottom: 1px solid;
  border-bottom-color: #003366;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
#rightColum {
  margin-left: 7.5em;
  margin-top: -29px;
  background-color: gainsboro;
}
/* Right Colum */

.overview {
  padding-top: 1em;
  font-size: 14px;
  margin-left: 2em;
  margin-right: 2em;
  color: white;
}
/* Work Experience Body*/
h4 {
  font-size: 16px;
  color: navy;
  padding-left: 1.5em;
  padding-bottom: 1px;
  margin-bottom: 8px;
  margin-top: 2.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Skills Body*/
#skills {
  color: navy;
  font-size: 18px;
  line-height: 30px;
  margin-top: -2.5em;
}
/*left colum*/
h2 {
  color: navy;
  line-height: 1px;
  font-size: 34px;
  padding-bottom: 0.3em;
}
/* Contact body*/
#Contact {
  color: navy;
  font-size: 16px;
  line-height: 2px;
  padding-bottom: 0.4em;
  padding-top: 1.4em;
}
/* Organization body */
#Organization {
  padding-bottom: 0.3em;
  line-height: 8px;
  color: navy;
  font-size: 16px;
  font-family: hebrew;
}
.Volunteer {
  padding-bottom: 0.3em;
  line-height: 8px;
  color: navy;
  font-size: 16px;
  font-family: hebrew;
}
#languages {
  padding-bottom: 0.3em;
  line-height: 8px;
  color: navy;
  font-size: 16px;
  font-family: hebrew;
}
/* Inst box*/
.squareLogo {
  background: #001933;
  display: flex;
  height: 200px;
}
/*image*/
#me {
  position: relative;
  top: 40px;
  left: 20px;
  width: 220px;
  height: 160px;
  border: 2px solid #003366;
  border-radius: 50%;
}
