body {
  background: whitesmoke;
  padding: 0em;
  border: 1px solid;
  border-color: #003366;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 940px;
}

/* Right Colum */
#rightColum {
  margin-right: 2px;
  margin-left: 5px;
  background-color: gainsboro;
}

#summary {
  background-color: #003366;
  font-size: medium;
  color: white;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px;
  padding-top: 0.1px;
  padding-bottom: 0.4em;
  padding-left: 2em;
  padding-right: 2em;
}

.overview {
  margin-top: 9px;
}

#AboutMe p {
  color: navy;
  font-size: 12.5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 1.7;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1 {
  margin-bottom: 1px;
}

h2 {
  color: white;
  line-height: 1px;
  font-size: 25px;
  padding-bottom: 0.3em;
  padding-left: 1.6em;
  margin-top: 10px;
  margin-bottom: 1px;
}

h3 {
  color: white;
  font-size: 20px;
  background-color: #003366;
  padding-left: 0.6em;
  margin-top: 12px;
  margin-bottom: 1px;
}

h4 {
  font-size: 14px;
  color: navy;
  padding-left: 1.5em;
  padding-bottom: 1px;
  margin-bottom: 2px;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#languages,
#volunteer,
#Program,
#Contact {
  padding-top: 0.4em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 23px;
  color: white;
  font-family: hebrew;
  font-size: 14px;
}

#Contact {
  font-size: 16px;
}

#volunteer ul,
#Program ul,
#languages ul,
#Contact ul {
  margin-top: 0px;
}

#WorkExperience p,
#Education p {
  padding-left: 2em;
  margin: 0;
  color: darkblue;
  font-size: 13px;
  padding-left: 4.3em;
}

/* Skills Body*/
#skills li {
  color: navy;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}

#skills ul {
  margin-bottom: 0px;
  padding-left: 2em;
}

/*left colum*/
#left-colum {
  margin-left: 2px;
  background-color: #163c68;
}

#Contact a,
#volunteer a,
#Program a,
#Contact {
  color: white;
}

/*image*/
#me {
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 10px;
  margin-bottom: 0.5em;
  width: 220px;
  height: 140px;
  border: 2px solid #003366;
  border-radius: 50%;
}

/* logos*/
#Logo {
  float: left;
  width: 70%;
  height: 80%;
  margin-left: 19px;
  padding: 5px;
}
